* {
  color: whitesmoke;
  font-family: "Roboto", "Arial", "Helvetica", sans-serif;
}

body {
  margin: 0;
  background-color: rgb(17, 20, 20);
}


#display {
  width: 100vw;
  height: 100vh;
  max-width: 100vh;
  max-height: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  background-image: url("assets/images/SpaceFrensBg1.png");
  background-size: cover;
}

.textbox {
  margin: 0;
  padding: 0;
  height: 15vh;
  max-height: 15vw;
  width: 100vw;
  max-width: 100vh;
  background-color: rgba(17, 20, 20, 0.342);
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  align-items: center;
}

h1 {
  font-size: 7vw;
}

p {
  font-size: 5vw;
}

.space_fren_axis{
  height: 15vh;
  max-height: 15vw;
  width: 100vw;
  max-width: 100vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
}

#display img {
  height: 100%;
}

