@font-face {
  font-family: "Press Start 2p";
  src: url("./assets/fonts/PressStart2P-Regular.ttf")
}

html {
  scroll-behavior: smooth;
}

* {
  color: whitesmoke;
  font-family: 'Press Start 2p', sans-serif;
}

body {
  margin: 0;
  background-color: rgb(17, 20, 20);
}

#display {
  position: relative;
  width: 100vw;
  height: 100vh;
  max-width: 100vh;
  max-height: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  background-image: url("assets/images/SpaceFrensBg1.png");
  background-size: cover;
}

.textbox {
  margin: 0;
  height: 15vh;
  max-height: 15vw;
  width: 100vw;
  max-width: 100vh;
  background-color: rgba(80, 172, 226, 0.664);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

header {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

#display h1 {
  margin: 0 10px 0 10px;
  font-size: 1.4em;
  color: rgb(255, 168, 7);
}

.arrow {
  height: 80px;
  margin: 0 30px 0 0;
}


#up-arrow {
  position: absolute;
  top: 10px;
  right: 10px;
}


#display p {
  margin: 0 10px 0 10px;
  font-size: 1em;
  color: rgb(255, 168, 7);
}

#spacefrens {
  width:100vw;
  max-width: 100vh;
  height: 70vh;
  max-height: 70vw;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.space_fren_axis{
  height: 15vh;
  max-height: 15vw;
  width: 63vw;
  max-width: 63vh;
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  
}

#display img:not(.arrow) {
  height: 100%;
  -webkit-animation: fren-spin 20s linear infinite;
  -moz-animation: fren-spin 20s linear infinite;
  animation: fren-spin 20s linear infinite;
}

#info-relay {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

#astronaut_info {
  position: relative;
  max-width: 100vh;
}

#infobox {
  margin: 0 10px 10px 10px;
}

#infobox h2 {
  font-weight: normal;
  font-size: 1em;
  color: whitesmoke;
}

#infobox p {
  font-size: 0.8em;
  color: whitesmoke;
}

#astronaut-info {
  position: relative;
}

@-webkit-keyframes fren-spin { 100% { -webkit-transform: rotate(720deg); } }

@media only screen and (max-width: 260px) {

  #display h1 {
    margin: 0 5px 0 5px;
    font-size: 0.8em;
  }
  
  #display p {
    margin: 0 5px 0 5px;
    font-size: 0.5em;
  }

  #infobox h2 {
    font-size: 0.5em;
  }

  #infobox p {
    font-size: 0.5em;
  }

}

@media only screen and (max-width: 325px) {

  #display h1 {
    margin: 0 5px 0 5px;
    font-size: 0.8em;
  }
  
  #display p {
    margin: 0 5px 0 5px;
    font-size: 0.8em;
  }

  #infobox {
    margin: 0 5px 10px 5px;
  }

  #infobox {
    margin: 0 5px 10px 5px;
  }

  #infobox h2 {
    font-weight: normal;
    font-size: 0.8em;
  }

  #infobox p {
    font-size: 0.8em;
  }
}

@media only screen and (min-width: 440px) {

  #display h1 {
    margin: 0 10px 0 10px;
    font-size: 2.2em;
  }
  
  #display p {
    margin: 0 10px 0 10px;
    font-size: 1.4em;
  }

  #infobox h2 {
    font-size: 1.6em;
  }

  #infobox p {
    font-size: 1.2em;
  }
}

@media only screen and (min-width: 630px) {

  #display h1 {
    margin: 0 10px 0 10px;
    font-size: 3.0em;
  }
  
  #display p {
    margin: 0 10px 0 10px;
    font-size: 2.0em;
  }

  #infobox h2 {
    font-size: 1.6em;
  }

  #infobox p {
    font-size: 1.2em;
  }
}